<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <a href="/comment">메인</a><br>
    <a href="/comment2">실험</a><br><br> -->
    <a href="/communityList">커뮤목록</a>

    <div sec:authorize="hasRole('USER')">USER권한</div>
    <div sec:authorize="hasRole('ADMIN')">ADMIN권한</div>
    <div sec:authentication="principal.username"></div>
</body>
</html>