<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id"
    content="347040087248-0q2no7ibc6kj5nbuc0ej4gq451e8s56q.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>

  <a href="/oauth2/authorization/google">구글 아이디로 로그인</a> <br>
  


</body>

</html>