<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>
                 no 
                </td>
                <td>
                title
                </td>
            </tr>
            <tr th:each="cuList: ${cuList}">
                <!-- <td>
                    image
                </td> -->
                <td>
                    <a th:text="${cuList.curationNo}"></a>
                </td>
                <td>
                    <a th:text="${cuList.email}"></a>
                </td>
                <td>
                    <a th:text="${cuList.curationTitle}" th:href="@{/read(curationNo=${cuList.curationNo})}" ></a>
                </td>
                <td>
                    <a th:href="@{/list/delete(id=${cuList.curationNo})}">삭제</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <form action="/list" method="post">
            <input type="text" name="email" placeholder="writerEmail">
            <input type="text" name="curationTitle" placeholder="curationTitle">
            <input type="text" name="curationText" placeholder="curationText">
            <button type="submit">write</button>
        </form>
    </div>
</body>
</html>