<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- default header name is X-CSRF-TOKEN -->
  <!-- <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" /> -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Login Page</h1><hr>
  <div class="container" th:fragment="content">
    <form class="form-signin" method="post" th:action="@{/login}">
      <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
      <p>
          <label for="name" class="sr-only">name</label>
          <input type="text" id="name" name="name" 
          class="form-control" placeholder="name" 
          required autofocus>
      </p>
      <p>
          <label for="pw" class="sr-only">Pw</label>
          <input type="pw" id="pw" name="pw" 
          class="form-control" placeholder="Pw" required>
      </p>
      <p><span th:if="${param.error}">아이디와 비밀번호를 확인해주세요</span></p>
      <p><span th:if="${param.logout}">로그아웃 되었습니다.</span></p>
      <p><input type='checkbox' name='remember-me'/> Remember me on this computer.</p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <button class="btn btn-lg btn-info btn-block" type="button" th:onclick="joinGo()">Join us</button>
      <table class="table table-striped" style="width:400px;margin-top:50px;">
        <tr>
            <td><h3 class="form-signin-heading">Login with OAuth 2.0</h3></td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/oauth2/authorization/google}">Google</a><br>
            </td>
        </tr>
      </table>
    </form>
  </div>
  <script>
    $(document).ready(function(){

    });
    // $(function () {
    //   var token = $("meta[name='_csrf']").attr("content");
    //   var header = $("meta[name='_csrf_header']").attr("content");
    //   $(document).ajaxSend(function(e, xhr, options) {
    //     xhr.setRequestHeader(header, token);
    //   });
    // });
    
    window.ready = function(){
    //   var token = document.querySelector("meta[name='_csrf']")
    //                       .getAttribute("content");
    //   var header = document.querySelector(
    //     "meta[name='_csrf_header']").getAttribute("content");
    //   console.log(token+"\n"+header);
    }

  </script>  
</body>
</html>