<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tbody>
        <tr th:each="noteList: ${noteList}">
            <tr>
                <td>
                    no
                </td>
                <td>
                    email
                </td>
                <td>
                    title
                </td>
                <td>
                    text
                </td>
            </tr>
            <td>
                <a th:text="${noteList.noteNo}"></a>
            </td>
            <td>
                <a th:text="${noteList.email}"></a>
            </td>
            <td>
                <a th:text="${noteList.noteTitle}"></a>
            </td>
            <td>
                <a th:text="${noteList.noteText}"></a>
            </td>
            <td>
                <a th:text="${noteList.stickerNo}"></a>
            </td>
            
            <tr>
                <tr>
                    <td>
                        <a th:href="@{/noteModify(noteNo=${noteList.noteNo})}"sec:authorize="isAudenticated()">
                            <input type="hidden" name="email" id="email" th:value="${noteList.email}"/>
                            <button th:if = "${noteList.email == noteList.email}">노트수정</button>    
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/noteRead/noteDelete(id=${noteList.noteNo})}">노트삭제</a>
                    </td>   
                    <td>
                        <a href="/noteList">노트목록</a>
                    </td>
                </tr> 
            </tr>
           
        </tr>  
        
    </table>
</tbody>

</body>
</html>