<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action="/noteWrite" method="post">
        writer : <input type="text" name="email" placeholder="writerEmail"> <br>
        title :   <input type="text" name="noteTitle" placeholder="noteTitle"><br>
        text :   <textarea name="noteText" placeholder="noteText"></textarea><br>
        Sticker:   <textarea name="stickerNo" placeholder="stickerNo"></textarea><br>
        <!-- sticker를 셀렉트-옵션으로 바꿔서 있는거만 선택가능하게하기. -->
        <input type="submit" value="등록">
        <!-- 스티커추가 (textarea말고뭘로 추가해야 다음에 구현하기 편하지?)-->

        
    </form>
</body>
</html>