<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tbody>
        <tr th:each="cuList: ${cuList}">
            <tr>
                <td>
                    no
                </td>
                <td>
                    email
                </td>
                <td>
                    title
                </td>
                <td>
                    text
                </td>
            </tr>
            <td>
                <a th:text="${cuList.curationNo}"></a>
            </td>
            <td>
                <a th:text="${cuList.email}"></a>
            </td>
            <td>
                <a th:text="${cuList.curationTitle}"></a>
            </td>
            <td>
                <a th:text="${cuList.curationText}"></a>
            </td>
            <tr>
                <tr>
                    <td>
                        <a th:href="@{/modify(curationNo=${cuList.curationNo})}">수정</a>
                    </td>
                    <td>
                        <a th:href="@{/read/delete(id=${cuList.curationNo})}">삭제</a>
                    </td>
                    <td>
                        <a href="/list">list</a>
                    </td>
                </tr> 
            </tr>
           
        </tr>  
        
    </table>
</tbody>

</body>
</html>